* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 585px;
}

/* contact section style */
.contact {
    margin-top: 120px;
    height: 729px;
    background: #014E56;
}

.contact_content {
    display: flex;
    margin-top: -230px;
    margin-left: 55px;
}

.contact_left h2 {
    width: 350px;
    height: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contact_left_bottom {
    width: 540px;
    height: 312px;
}

.contact_left_bottom h3 {
    width: 540px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
}

.contact_boxs {
    width: 540px;
    height: 232px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.contact_box1 {
    width: 540px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.contact_box1 img {
    width: 72px;
    height: 72px;
    cursor: pointer;
}

.contact_box_title {
    width: 445px;
    height: 28px;
    margin-left: 23px;
}

.contact_box_title p {
    height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.contact_right {
    width: 540px;
    height: 348px;
    margin-left: -30px;
    margin-top: 42px;
}

.contact_right_top {
    width: 540px;
    height: 348px;
}

.contact_right_input {
    width: 540px;
    height: 42px;
    margin-bottom: 24px;
}

.contact_right_input input {
    width: 100%;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 14px;
    position: relative;
}

.contact_right_input input:focus + span {
    border-bottom: 3px solid #79C8C7;
    transition: all .2s ease;
}

.red_input input:focus + span {
    border-bottom: 3px solid #F67E7E;
    transition: all .2s ease;
}

.red_input input:focus {
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #F67E7E;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.contact_right_input span {
    width: 540px;
    height: 1px;
    border-bottom: 2px solid #FFFFFF;
    display: inline-block;
    margin-top: 16px;
}

.contact_right_textarea {
    width: 540px;
    height: 84px;
    margin-top: 24px;
}

.contact_right_textarea textarea {
    width: 100%;
    height: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    padding-left: 14px;
}

.contact_right_textarea span {
    width: 540px;
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
    display: inline-block;
    margin-top: 58px;
}

.contact_right_bottom {
    width: 123px;
    height: 48px;
    margin-top: 24px;
}

.contact_right_btn {
    width: 123px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #004047;
    outline: none;
    cursor: pointer;
}

.contact_left_image {
    height: 248px;
    background-image: url("../image/contact_left_image.png");
    background-repeat: no-repeat;
    background-position-x: calc(-7% + 180px);
    background-position-y: calc(-375% + 180px);
    margin-left: -90px;
}

.contact_right_image {
    height: 248px;
    background-image: url("../image/contact_right_image.png");
    background-repeat: no-repeat;
    background-position-x: calc(-6% + 180px);
    background-position-y: calc(-847% + 180px);
    margin-left: 1079px;
    margin-top: -40px;
}

/* footer secton style */
.footer {
    height: 187px;
    margin-top: 120px;
}

/* Tablet media */
@media only screen and (max-width: 375px) {
    body {
        width: 375px;
        height: 1132px;
    }
    
    .header {
        width: 100%;
        height: 1368px;
    }

    .navbar_menu_btn {
        margin-left: 330px;
    }

    .navbar_menu {
        margin-left: 50px;
    }

    /* contact section */
    .contact {
        margin-top: 350px;    
    }
    
    .contact_left_image {
        display: none;
    }

    .contact_content {
        display: flex;
        flex-direction: column;
    }

    .contact_left h2 {
        width: 327px;
        height: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        margin-left: -121px;
    }

    .contact_left_bottom {
        margin-left: -17px;
    }

    .contact_left_bottom h3 {
        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #F67E7E;
        margin-left: -189px;
    }

    .contact_boxs {
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 264px;
        margin-left: -21px;
    }

    .contact_box1 {
        width: 327px;
        height: 72px;
        display: flex;
    }

    .contact_box_title p {
        height: 56px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .contact_box1 {
        width: 327px;
        height: 72px;
        display: flex;
    }
    
    .contact_box_title p {
        height: 56px;
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .contact_right {
        width: 327px;
        height: 420px;
        margin-top: 164px;
    }

    .contact_right_top {
        margin-left: -25px;
    }

    .contact_right_input {
        width: 325px;
        height: 42px;
    }

    .contact_right_input span {
        width: 325px;
        height: 1px;
        border-bottom: 1px solid #FFFFFF;
    }

    .contact_right_textarea span {
        width: 325px;
        height: 1px;
        border-bottom: 1px solid #FFFFFF
    }

    .contact_right_bottom {
        margin-left: -32px;
        margin-top: 24px;
    }

    .contact_right_image {
        height: 248px;
        background-image: url("../image/contact_right_image.png");
        background-repeat: no-repeat;
        background-position-x: calc(-6% + 180px);
        background-position-y: calc(-847% + 180px);
        margin-left: 104px;
        margin-top: 105px;
    }

    /* footer section */
    .footer {
        margin-top: 0;
        width: 375px;
        height: 432px;
        background: #002529;
    }
}